<div class="mobile-tabs">
  <ion-tab-bar slot="bottom">
    <!-- Home Tab -->
    <ion-tab-button routerLink="/home" [routerLinkActive]="'tab-selected'">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>{{ "common.home" | translate }}</ion-label>
    </ion-tab-button>

    <!-- About Tab -->
    <ion-tab-button routerLink="/about" [routerLinkActive]="'tab-selected'">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>{{ "common.about" | translate }}</ion-label>
    </ion-tab-button>

    <!-- Language Tab -->
    <ion-tab-button (click)="openLanguageModal()">
      <ion-icon name="language-outline"></ion-icon>
      <ion-label>{{ "common.language" | translate }}</ion-label>
    </ion-tab-button>

    <!-- Theme Toggle Tab -->
    <ion-tab-button (click)="toggleTheme()">
      <ion-icon
        [name]="isDarkMode() ? 'sunny-outline' : 'moon-outline'"
      ></ion-icon>
      <ion-label>{{ "common.theme" | translate }}</ion-label>
    </ion-tab-button>

    <!-- Profile/Login Tab -->
    <ng-container *ngIf="currentUser$ | async as user; else loginTab">
      <ion-tab-button (click)="navigateToProfile()">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>{{ "common.profile" | translate }}</ion-label>
      </ion-tab-button>
    </ng-container>

    <ng-template #loginTab>
      <ion-tab-button (click)="navigateToLogin()">
        <ion-icon name="log-in-outline"></ion-icon>
        <ion-label>{{ "common.login" | translate }}</ion-label>
      </ion-tab-button>
    </ng-template>
  </ion-tab-bar>
</div>
