.mobile-tabs {
  width: 100%;

  ion-tab-bar {
    --background: var(--ion-tab-bar-background);
    --border: 1px solid var(--ion-tab-bar-border-color);
    width: 100%;
  }

  ion-tab-button {
    --color: var(--ion-color-medium);
    --color-selected: var(--ion-color-primary);
    cursor: pointer;

    ion-icon {
      font-size: 1.4rem;
      margin-bottom: 4px;
      color: inherit;
    }

    ion-label {
      font-size: 0.75rem;
      font-weight: 500;
      color: inherit;
    }

    &:active {
      --background: var(--ion-item-background);
    }

    &.tab-selected {
      --color: var(--ion-color-primary);

      ion-icon,
      ion-label {
        color: var(--ion-color-primary);
      }
    }
  }
}
